.project-container{
    display: flex;
    font-family: "Roboto";
    width: 100%;
    min-height: 100vh;
}

.icon-and-project-container{
    width: 100%;
    background-color: #F6F1FC;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    margin: 20px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.saved-project-heading{
    color: #7E22CE;
    font-weight: 700;
}

.home-button {
    background-color: #211935;
    border-radius: 6px;
    border: none;
    align-items: center;
    color: #F8F8F8;
    padding: 10px;
    font-weight: 700;
}

.btn-icon {
    margin-right: 6px;
}

.popup-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 24px;
    width: 820px;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.popup-heading {
    font-size: 24px;
    font-weight: 700;
}

.user-input {
    outline: none;
    cursor: pointer;
    border: 1px solid #838383;
    border-radius: 6px;
    padding: 10px;
    color: #838383;
}

.err-msg{
    color: red;
    font-size: 12px;
    margin: 0px;
}

.btn-container {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
}

.trigger-button {
    border: none;
    color: red;
    margin-right: 10px;
    background: none;
}

.create-button {
    background-color: #7E22CE;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px;
    border: none;
}

.saved-project-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.indivisual-container{
    display: flex;
    align-items: center;
    border: 1px solid #eceaea;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 24px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 4px #dcd9d9;
}

.poject-profile{
    background-color: blue;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: #ffffff;
    border-radius: 7px;
}

.saved-project-title{
    color: #7E22CE;
    font-size: 12px;
    font-weight: 700;
}


.saved-project-desc{
    color: #969696;
    font-size: 10px;
}
